.burger {
    width: 40px;
    height: auto;
    cursor: pointer;
    margin-bottom: 50px;
}

.burgerItem {
    display: block;
    width: 100%;
    height: 3px;
    margin-bottom: 4px;
    background-color: white;
}