.mainButton {
    font-family: 'Rubik';
    font-size: 1.3em;
    color: #fff;


    background-color: royalblue;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;

    cursor: pointer;

    transition: all 0.3s ease-in-out;
}

.mainButton:hover {
    opacity: 0.8;

}