.burgerMenu {
    position: absolute;
    overflow: hidden;
    width: 300px;
    transform: translateX(-100%);
    top: 0;
    left: -20px;
    height: 100vh;
    background-color: white;
    -webkit-box-shadow: 1px 1px 6px 3px rgba(0,0,0,0.33);
    box-shadow: 1px 1px 6px 3px rgba(0,0,0,0.33);

    padding: 40px;

    display: flex;
    align-items: center;
    justify-content: center;


    transition: all 0.3s ease-in-out;
    z-index: 2001;
}

.active {
    transform: translateX(0);
    left: -20px;
}

.close {
    position: absolute;
    font-size: 20px;
    top: 20px;
    right: 20px;
    cursor: pointer;
}